.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: purple;
  height: 150px;
  padding: 20px;
  color: white;
  min-width: 600px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


li {
  list-style-type: none;
  white-space: nowrap;
  vertical-align: top;
  display: inline-block;
  max-height: 80px;
}

li.name {
  border: 1px solid black;
}

li.topDiv {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid black;
}

li.cat-player {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid black;
}

li.cat {
  border-right: 1px solid black;
  border-bottom: 5px solid black;
}

h4 {
  margin-top: 3px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

h5 {
  max-height: 20px;
  margin: 4px 0px;
  overflow: hidden;
}

span.percent {
  font-size: 13px;
  padding-top: 12px;
  vertical-align: middle;
}

span.potato {
  padding-top: 10px;
  vertical-align: middle;
  font-size: 11px;
}

span{
  display: block;
}

.row {
  padding-left: 0px;
  white-space: nowrap;
  overflow: hidden;
  margin: 3px 0px;
  max-height: 40px;
}

.topRow {
  padding-left: 0px;
  margin: 0px 0px 0px 40px;
  white-space: nowrap;
  overflow: hidden;
  max-height: 35px;
}



.cat-player{
  margin: 0px 0px;
  height: 39px;
  width: 118px;
}

.cat {
  margin: 0px 0px;
  width: 44px;
  height: 39px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.topDiv {
  margin: 0px 0px;
  height: 25px;
  width: 44px;
}
.name {
  width: 118px;
}

.portrait {
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
}

.display {
  min-width: 600px;
}

.main{
  margin: auto;
  width: 700px;
  border: 1px solid blue;
  white-space: nowrap;
}



.stats {
  float: left;
  margin-left: 2px;
  display: inline-block;
  overflow: hidden;
}



.teamname{
  display: inline-block;
  margin-top: 0px;
  height: 22px;
}

.standing{
  /*margin-top: 0px;*/
  padding-top: 5px;
  font-size: 12px;
  height: 18px;
  width: 18px;
  float: left;
  display: inline-block;
  border-right: 1px solid gray;
}


.winloss{
  /*display: inline-block;*/
  margin-top: -5px;
  padding-left: -10px;
  font-size: 12px;
  border-top: 1px solid gray;
}

.show {
  padding-top: 2px;
  font-size: 10px;
}




.floatL {
  float: left;
  padding: 2px 0px 0px 0px;
  width: 50px;
  height: 20px;
  border-right: 1px solid gray;
}
